<ngx-ion-swipe [expanded]="false">
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>test 1</ion-label>
    </ion-item>
</ngx-ion-swipe>